<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web page CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" >
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Didact+Gothic&display=swap" rel="stylesheet">
    <title>EAT EAT</title>
</head>
<body background="images/background.jpeg">
    <h1>
        <span class="eat">Don't Know</span><br />
        <span class="eat">What to Eat?</span><br />
        <span class="back">We've got your back</span>
    </h1>
    
    <a href="{{ url_for('views.form_page') }}">
        <button class="try">Try Now</button>
    </a>
</body>
</html>